*{
    font-family: Segoe UI;
}

#sos_button{
    margin-left: auto;
    border: 3px rgb(254, 112, 138) solid;
    color: rgb(254, 112, 138);
    border-radius: 20px;
}

#logo{
    width: 30%;
}

#header-text{
    font-size: 30px;
    font-weight: 10;
}

